@import "tailwindcss";

*{
  scrollbar-width: none;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 4s linear infinite;
}

@theme {
  --color-background: #0f1418;
  --color-foreground: #f0f2f5;

  --color-card: #141a1f;

  --color-primary: #20b2a6;
  --color-primary2: #29c694;
  --color-primary-foreground: #fff;

  --color-muted: #252e37;
  --color-muted-foreground: #7a8491;

  --color-border: #242b32;

  --radius: 0.75rem;

  --color-highlight: #f5a623;
  --color-surface: #1a2329;
}

@layer base{
  html {
    scroll-behavior: smooth;
  }
  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@layer components{
  .glass{
    background-color: color-mix(in srgb, var(--color-black) 30%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);
  }

   .glass-strong {
    background-color: color-mix(in srgb, var(--color-surface) 80%, transparent);
    backdrop-filter: blur(24px);
    border: 1px solid color-mix(in srgb, var(--color-border) 60%, transparent);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.2;
  }
}

@keyframes gradientMove {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(30px, 40px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}